{%extends 'base.html'%}
{%load static %}

{%block navbar%}
    <a href = "/admin" class="w3-bar-item w3-button"><i class="fa fa-user"></i> ADMIN</a>
    <a href="/admin/create" class="w3-bar-item w3-button"><i class="fa fa-plus"></i> CREATE CLUB</a>
    <a href="/user/changepassword" class="w3-bar-item w3-button" target = "_blank"><i class="fa fa-user"></i>CHANGE PASSWORD</a>
    {% if user.is_authenticated%}
      <a href="/user/signout" class="w3-bar-item w3-button bg-danger"><i class="fa fa-user"></i>SIGNOUT</a>
    {% else %}
      <a href="/user/login?next=/admin" class="w3-bar-item w3-button"><i class="fa fa-user"></i>SIGNIN</a>
    {%endif%}
{%endblock navbar%}

{%block menunavbar%}
    <a href="/admin" onclick="w3_close()" class="w3-bar-item w3-button">ADMIN</a>
    <a href="/admin/create" onclick="w3_close()" class="w3-bar-item w3-button">CREATE CLUB</a>
    <a href="/user/changepassword" onclick="w3_close()" class="w3-bar-item w3-button" target = "_blank">CHANGE PASSWORD</a>
    {% if user.is_authenticated%}
        <a href="/user/signout" onclick="w3_close()" class="w3-bar-item w3-button">SIGNOUT</a>
    {%else%}
        <a href="/user/login?next=/admin" onclick="w3_close()" class="w3-bar-item w3-button">SIGNIN</a>
    {%endif%}
{%endblock menunavbar%}


{%block body%}

    <div class = "w3-container" style="padding:128px 16px;">
        <div class = "container-fluid" style = "height = 0.7vmax"></div>
        <div class = "container-fluid">
            <h1>Clubs</h1>
            <div class = "container-fluid" style = "height = 0.7vmax"></div>

            <div class = "row">

                {% for club in clubs%}
               
                <div class="col-lg-3 col-md-6 my-2">
                    <div class="card mb-30 border border-1 border-bottom border-start border-end hover_fun" id = "card1">
                        <img src= "{{club.clubImgUrl}}" alt="" class = "card-img-top img-fluid">
                        <div class="card-body">
                            <div class="place-cap-top">
                                <h3 class="mt-3">
                                    <div style="font-family: 'Barlow Condensed'; color:#072740; font-weight: 500;">
                                        {{club.clubName}}
                                    </div>
                                </h3>
                            </div>
                            <div class = "row mt-5">
                                <div class = "col-6  justify-content-end">
                                    <form method = "POST">
                                        {%csrf_token%}
                                        <input type = "hidden" value = {{club.clubId}} name = "ID">
                                        <input type = "hidden" value = "" name = "tokenId">
                                        <button type = "submit" class = "btn btn-danger" name = "action" value = "Deletion">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                {% endfor%}
            </div>
        </div>
    </div>

{%endblock body%}