{%extends 'base.html'%}
{%load static %}

{%block navbar%}
    <a href="/club/create" class="w3-bar-item w3-button"><i class="fa fa-plus"></i> CREATE EVENTS</a>
    <a href="/club" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
    <a href="/user/profile/" class="w3-bar-item w3-button"><i class="fa fa-user"></i>PROFILE</a>
    {% if user.is_authenticated%}
      <a href="/user/signout" class="w3-bar-item w3-button bg-danger"><i class="fa fa-user"></i>SIGNOUT</a>
    {% else %}
      <a href="/user/login?next=/club" class="w3-bar-item w3-button"><i class="fa fa-user"></i>SIGNIN</a>
    {%endif%}
{%endblock navbar%}

{%block menunavbar%}
    <a href="/club/create" onclick="w3_close()" class="w3-bar-item w3-button">CREATE EVENTS</a>
    <a href="/club" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
    <a href="/user/profile/" onclick="w3_close()" class="w3-bar-item w3-button">PROFILE</a>
  {% if user.is_authenticated%}
        <a href="/user/signout" onclick="w3_close()" class="w3-bar-item w3-button">SIGNOUT</a>
  {%else%}
        <a href="/user/login?next=/club" onclick="w3_close()" class="w3-bar-item w3-button">SIGNIN</a>
  {%endif%}
{%endblock menunavbar%}


{%block body%}
    
    <div class = "container-fluid" style="padding:128px 16px;">
        <div class = "row justify-content-center">
            <div class = "mx-lg-4 col-lg-4 col-md-12">
                <h3> Upload Poster</h3>
                <h4>(JPEG , PNG format accepted)</h4>
                <br>
                    <input type="file"  id="imgposter" name="imgposter" accept="image/png, image/jpeg" onchange = "imageLoader()">
                <br><br>
                <script>
                    function imageLoader(){
                            var preview = document.getElementById('poster');
                            var file    = document.querySelector('input[type=file]').files[0];
                            var reader  = new FileReader();
                            
                            reader.onloadend = function () {
                                preview.src = reader.result;
                            }
                            
                            if (file) {
                                reader.readAsDataURL(file);
                            } else {
                                preview.src = "";
                            }
                        }
                </script>
                <img src = "" class = "img img-fluid" alt = "poster" id = "poster">
                <br><br>
                <input type = "submit" name = "action" value = "Upload" id = "uploadImg">
                <br><br>
                <h5 style = "color : #ff0000">(Please upload the poster to make the event registeration button visible)</h5>
            </div>
            <div class = "col-lg-7 col-md-12">
                <h2 class = "mb-5 mx-auto">Register Event</h2>
                <form method="post"  class= "mx-auto">
                    {% csrf_token %}
                    <label for = "eventName">Event Name</label><br>
                    <input type = "text" id = "eventName" name = "eventName" value ="" required><br><br>

                    <label for = "eventStartTime">Event Start Time</label><br>
                    <input type = "datetime-local" id = "eventStartTime" name = "eventStartTime" value ="" required><br><br>

                    <label for = "eventEndTime">Event End Time</label><br>
                    <input type = "datetime-local" id = "eventEndTime" name = "eventEndTime" value ="" required><br><br>

                    <label for = "eventLocation">Event Location</label><br>
                    <input type = "text" id = "eventLocation" name = "eventLocation" value ="" required><br><br>

                    <label for = "instagramLink">Instagram</label><br>
                    <input type = "text" id = "instagramLink" name = "instagramLink" value =""><br><br>

                    <label for = "twitterLink">Twitter</label><br>
                    <input type = "text" id = "twitterLink" name = "twitterLink" value =""><br><br>

                    <label for = "linkdenLink">Linkedin</label><br>
                    <input type = "text" id = "linkdenLink" name = "linkdenLink" value =""><br><br>
                                        
                    <label for = "eventDescription">Event Description</label><br>
                    <textarea id = "eventDescription" name = "eventDescription" cols = "50" rows = "10" required></textarea><br><br>
                    <input type = "hidden" value = "" name = "imgUrl" id = "imgUrl">
                    <input type="submit" name = "action" value = "Registration" id = "RegisterButton">
                </form>
            </div>
        </div>
    </div>

   <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-app.js"></script>
   <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-auth.js"></script>
   <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-firestore.js"></script>
   <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-storage.js"></script>
   <script src = {%static 'js/createEvent.js' %} />
{%endblock body%}