{% extends "base.html" %}
{%load static%}

{%block navbar%}
    <a href="/event" class="w3-bar-item w3-button"><i class="fa fa-th"></i> EVENTS</a>
    <a href="/club/clubs" class="w3-bar-item w3-button"><i class="fa fa-th"></i> CLUBS</a>
    <a href="/student" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
    <a href="/user/profile/" class="w3-bar-item w3-button"><i class="fa fa-user"></i>PROFILE</a>
    {% if user.is_authenticated%}
      <a href="/user/signout" class="w3-bar-item w3-button bg-danger"><i class="fa fa-user"></i>SIGNOUT</a>
    {% else %}
      <a href="/user/login" class="w3-bar-item w3-button"><i class="fa fa-user"></i>SIGNIN</a>
    {%endif%}
{%endblock navbar%}

{%block menunavbar%}
    <a href="/event" onclick="w3_close()" class="w3-bar-item w3-button">EVENTS</a>
    <a href="/club/clubs" onclick="w3_close()" class="w3-bar-item w3-button">CLUBS</a>
    <a href="/student" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
    <a href="/user/profile/" onclick="w3_close()" class="w3-bar-item w3-button">PROFILE</a>
  {% if user.is_authenticated%}
        <a href="/user/signout" onclick="w3_close()" class="w3-bar-item w3-button">SIGNOUT</a>
  {%else%}
        <a href="/user/login" onclick="w3_close()" class="w3-bar-item w3-button">SIGNIN</a>
  {%endif%}
{%endblock menunavbar%}


{%block body%}
    <div class="container-fluid d-flex flex-column" style="padding:128px 16px;" >
        <img src="{%static 'img/error.jpg' %}" alt="Some ERROR occured" style="width: 33%; margin: auto">
        <h2 class="text-center m-auto">Oops! Something went wrong </h2>
    </div>
{%endblock body %}