{% extends 'base.html' %}
{%load static  %}
{%load registration%}
{%block extracss%}
    <link rel="stylesheet" href={%static 'css/student.css'%}>
{%endblock extracss%}

{%block navbar%}
    <a href="/event" class="w3-bar-item w3-button"><i class="fa fa-th"></i> EVENTS</a>
    <a href="/club/clubs" class="w3-bar-item w3-button"><i class="fa fa-th"></i> CLUBS</a>
    <a href="/student" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
    <a href="/user/profile/" class="w3-bar-item w3-button"><i class="fa fa-user"></i>Profile</a>
    {% if user.is_authenticated%}
      <a href="/user/signout" class="w3-bar-item w3-button bg-danger"><i class="fa fa-user"></i>SIGNOUT</a>
    {% else %}
      <a href="/user/login?next=/event" class="w3-bar-item w3-button"><i class="fa fa-user"></i>SIGNIN</a>
    {%endif%}
{%endblock navbar%}

{%block menunavbar%}
    <a href="/event" onclick="w3_close()" class="w3-bar-item w3-button">EVENTS</a>
    <a href="/club/clubs" onclick="w3_close()" class="w3-bar-item w3-button">CLUBS</a>
    <a href="/student" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
    <a href="/user/profile/" onclick="w3_close()" class="w3-bar-item w3-button">PROFILE</a>
  {% if user.is_authenticated%}
        <a href="/user/signout" onclick="w3_close()" class="w3-bar-item w3-button">SIGNOUT</a>
  {%else%}
        <a href="/user/login?next=/event" onclick="w3_close()" class="w3-bar-item w3-button">SIGNIN</a>
  {%endif%}
{%endblock menunavbar%}

{%block body%}
<div class = "container-fluid" style="height: 5rem" style="padding:128px 16px;"></div>
<div class = "container-fluid">
    <h1 class = "ms-2">Registered Events</h1>

    <!--Registered Events-->
    <div class = "container-fluid">
        <div class = "row mx-5" id = "registerEventRow">
        
            {%for event in registeredEvents %}
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="card mb-30 border border-1 border-bottom border-start border-end hover_fun" id = "card1">
                    <img src= "{{event.eventPosterURL}}" alt="" class = "card-img-top img-fluid">
                    <div class="card-body">
                        <div class="place-cap-top">
                            <h3 class="mt-3">
                                <div style="font-family: 'Barlow Condensed'; color:#072740; font-weight: 500;">
                                    {{event.eventName}}
                                </div>
                            </h3>
                            <div>
                                <p class="fs-5" style="color: #4cafa4; font-size: 20px; font-weight: 600;">
                                    {{event.host|getClub}}
                                </p>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-6 justify-content-start">
                                <a type = "button" class = "btn btn-info" href = "{{"/event/"|add:event.eventId}}">View More</a>
                            </div>
                        {%if user.is_authenticated%}
                                {%if user.username|is_registered:event.eventId %}
                                    <div class = "col-6 justify-content-end">
                                        <form method = "POST">
                                        {% csrf_token %}
                                            <input type = "submit" class = "btn btn-danger" value = "Register" name = "action"></input>
                                            <input type = "hidden" name = "studentId" value = {{user.username}}>
                                            <input type = "hidden" name = "eventId" value = {{event.eventId}}>
                                        </form>
                                    </div>
                                {%endif%}
                            {%else%}
                                <div class = "col-6 justify-content-end">
                                    <a type = "button" class = "btn btn-danger" href="/user/login?next=/event/">Subscribe</a>
                                </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
            {%empty%}
            <h3 class = "mt-5"> No Events found under this category </h3>
            {%endfor%}

        </div>
    </div>
</div>

<div class = "container-fluid" style="height: 10rem"></div>
{%endblock body%}

